body {
    background-image: url(img/background.png);
    background-repeat: repeat;
    height: 100%;
    color: white;
    font-weight: bold;
}

.text-center{
    width: 100%;
    margin-top: 5%;
    overflow: hidden;
}

.left {
    width: 60%;
    float: left;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.right {
    margin-left: 62%;
    padding-right: 20%;
    padding-top: 3%;
    padding-bottom: 3%;
}