/* INDEX PAGE  */
.cover {
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #131313;
}

.covertext {
  color: azure;
  font-size: xx-large;
  width: 50%;
  margin: auto;
  margin-top: 20%;
  text-align: center;
  font-weight: bolder;
}

.studentinfo {
  width: 25%;
  justify-content: center;
  margin: auto;
  margin-top: 25vh;
  padding: 1.2em;
}
.addbutton {
  text-align: center;
}

/* ADMIN PAGE  */
.studentform {
  width: 75%;
  margin: auto;
  margin-top: 2em;
  padding: 1.2em;
}

/* VERIFY PAGE */
.verify {
  width: 50%;
  margin: auto;
  margin-top: 4em;
  text-align: center;
  padding: 1.2em;
}

.verifytext {
  width: 90%;
  height: 300px;
  margin-top: 2em;
}

/* RESPONSIVE */
@media screen and (max-width: 1030px) {
  .studentinfo {
    width: 50%;
  }
}

@media screen and (max-width: 740px) {
  .verify {
    width: 95%;
  }
}

@media screen and (max-width: 516px) {
  .studentinfo {
    width: 75%;
  }
}

@media screen and (max-width: 342px) {
  .studentinfo {
    width: 90%;
  }
}
