/* INDEX PAGE  */

.bleedimg {
  /* position: relative; */
  /* The image used */
  background: url("https://i.imgur.com/pLBikFF.png") no-repeat top center fixed;

  /* Full height */
  height: 100vh;
  top: 0;
  /* Center and scale the image nicely */
  /* padding-top: 15em; */
  text-align: center;
  justify-content: center;
}

.studentinfo {
  position: fixed;
  left: 0;
  right: 0;
  top: 30%;
  width: 25%;
  margin: auto;
  padding: 1.2em;
  border-radius: 2em;
  z-index: 1;
}
.addbutton {
  text-align: center;
}

.content {
  z-index: 20;
  position: relative;
  height: 100vh;
  background: url("https://i.imgur.com/UkkKxOL.png") no-repeat top center;
}

.content h1 {
  background-color: #3a5570;
  padding: 0.5rem;
}

.content p {
  background-color: #585800;
  padding: 0.5rem;
}

.form-group {
  margin: 0.5rem;
}

/* ADMIN PAGE  */
.studentform {
  /* width: 50%; */
  padding: 1.2em;
  border: 1px solid black;
}

.search-result {
  width: 90%;
}
.search-button {
  width: 20%;
  margin: auto;
}

/* VERIFY PAGE */
.cover {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  padding-top: 10em;
  background: url("https://i.imgur.com/jUN8f5o.png") no-repeat top center fixed;
}

.verify {
  width: 50%;
  margin: auto;
  margin-top: 4em;
  text-align: center;
  padding: 1.2em;
  border-radius: 4em;
}

.verifytext {
  width: 90%;
  height: 300px;
}

/* ABOUT US PAGE */
.about-cover {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  /* padding-top: 20em; */
  background: url("https://i.imgur.com/5d4lAVl.png") no-repeat top center fixed;
  overflow: auto;
}

.about-title {
  font-family: 'Londrina Outline', cursive;
  font-size: 17rem;
  font-weight: lighter;
  text-align: center;
  color: #0089a9;
}

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
  text-decoration: none;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}
.about-card {
  text-align: center;
}

/* RESPONSIVE */
@media screen and (max-width: 1030px) {
  .studentinfo {
    width: 50%;
  }
}

@media screen and (max-width: 740px) {
  .verify {
    width: 95%;
  }
}

@media screen and (max-width: 516px) {
  .studentinfo {
    width: 75%;
  }
}

@media screen and (max-width: 342px) {
  .studentinfo {
    width: 90%;
  }
}

@media screen and (max-width: 1322px) {
  .about-title{
    margin-top: 1em;
    font-size: 13em;
  }
}

@media screen and (max-width: 1012px) {
  .about-title{
    margin-top: 1em;
    font-size: 10em;
  }
}

@media screen and (max-width: 777px) {
  .about-title{
    margin-top: 1em;
    font-size: 7em;
  }
}
@media screen and (max-width: 544px) {
  .about-title{
    margin-top: 1em;
    font-size: 4em;
  }
}